.jumbotron.text-center
  %h1 gCamp
  %p Your life, organized
.row
  - @columns.each do |title, contents|
    .col-md-4
      .panel.panel-primary
        .panel-heading
          %h3.panel-title
            = title
        .panel-body
          - if contents.length <= 1
            %p
              = contents[0]
          -else
            %ul
              - contents.each do |content|
                %li
                  = content
- quotes_and_authors = [["Failure is not an option. Everyone has to succeed.", "Arnold Schwarzenegger"],
                        ["Your time is limited, so don't waste it living someone else's life.", "Steve Jobs"],
                        ["Better Ingredients, Better Pizza", "Pappa John"]]
- quotes_and_authors.each do |q_and_a|
  %blockquote.famous-quote
    %p
      = q_and_a[0]
    %footer
      = q_and_a[1]
