.jumbotron.text-center
  %h1 gCamp
  %p Your life, organized
.row
  - @columns.each do |title, contents|
    .col-md-4
      .panel.panel-primary
        .panel-heading
          %h3.panel-title
            = title
        .panel-body
          - if contents.length <= 1
            %p
              = contents[0]
          -else
            %ul
              - contents.each do |content|
                %li
                  = content
- @quotes_and_authors.sample(3).each do |q_and_a|
  %blockquote.famous-quote
    %p
      = q_and_a.quote
    %footer
      = q_and_a.author
