= form_for(@task, html: {class: "form-horizontal", role: "form"}) do |f|
  - if @task.errors.any?
    #error_explanation
      %h2
        = pluralize(@task.errors.count, "error")
        prohibited this task from being saved:
      %ul
        - @task.errors.full_messages.each do |message|
          %li
            = message

  .form-group
    = f.label :description, class: "col-sm-2 control-label"
    .col-sm-5
      = f.text_field :description, class: "form-control"

  .form-group
    = f.label :due, class: "col-sm-2 control-label"
    .col-sm-2
      = f.date_field :due, class: "form-control"
    %span.glyphicon.glyphicon-calendar

  - if @task.id?
    .form-group
      .col-sm-offset-2.col-sm-10
        .checkbox
          %label
            = f.check_box :complete
            %span Complete

  .actions.form-group
    .col-sm-offset-2.col-sm-10
      = f.submit class: "btn btn-primary"
