= form_for(@task, html: {class: "form-horizontal", role: "form"}) do |f|
  - if @task.errors.any?
    #error_explanation
      %h2
        = pluralize(@task.errors.count, "error")
        prohibited this task from being saved:
      %ul
        - @task.errors.full_messages.each do |message|
          %li
            = message
  .form-group
    = f.label :description, class: "col-sm-2 control-label"
    .col-sm-10
      = f.text_field :description, class: "form-control"
  - if @task.id?
    .form-group
      .checkbox.col-sm-offset-2.col-sm-10
        = f.check_box :complete
        %label complete
  .actions.form-group
    = f.submit class: "btn btn-primary col-md-offset-2"
