.page-header
  .row.center-row
    %h1.col-sm-9.center
      Tasks
    .col-sm-2.center
      = link_to_unless params[:show_completed],
        'All', project_tasks_path(show_completed: true, sort: params[:sort],
        direction: params[:direction])
      |
      = link_to_if params[:show_completed],
      'Incomplete', project_tasks_path(show_completed: nil, sort: params[:sort],
      direction: params[:direction])
    .col-sm-1.center
      = link_to 'Create Task', new_project_task_path, class: "btn btn-info"
%ol.breadcrumb
  %li=link_to "Projects", projects_path
  %li=link_to @project.name, project_path(@project)
  %li.active="Tasks"
%table.table
  %thead
    %tr
      %th= sortable "description"
      %th= sortable "complete", "Complete?"
      %th= sortable "due", "Due Date"
      %th
  %tbody
    - @project.tasks.each do |task|
      %tr{class: ("danger" if task.due_soon?)}
        %td
          = link_to task.description, project_task_path(@project, task)
          %span.badge= task.comments.count
        %td= task.complete
        %td
          - if task.due
            = task.due.strftime('%m/%d/%Y')
        %td
          .pull-right
            = link_to 'Edit', edit_project_task_path(@project, task), class: "btn btn-primary"
            = link_to '', project_task_path(@project, task), method: :delete, data: { confirm: 'Are you sure?' }, class: "glyphicon glyphicon-remove"
