.page-header
  .row.center-row
    %h1.col-sm-9.center
      Tasks
    .col-sm-2.center
      = link_to 'All', tasks_path(show_completed: true, sort_by: params[:sort_by]), {class: ("disabled" if params[:show_completed])}
      |
      = link_to 'Incomplete', tasks_path(show_completed: false, sort_by: params[:sort_by]), {class: ("disabled" unless params[:show_completed])}
    .col-sm-1.center
      = link_to 'Create Task', new_task_path, class: "btn btn-info"
%table.table
  %thead
    %tr
      %th= sortable "description", params[:show_completed]
      %th= sortable "complete", params[:show_completed], "Complete?"
      %th= sortable "due", params[:show_completed], "Due Date"
      %th
  %tbody
    - @tasks.each do |task|
      %tr{class: ("danger" if task.due_soon?)}
        %td= task.description
        %td= task.complete
        %td
          - if task.due
            = task.due.strftime('%m/%d/%Y')
        %td
          .pull-right
            = link_to 'Show', task, class: "btn btn-success"
            = link_to 'Edit', edit_task_path(task), class: "btn btn-primary"
            = link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"
