%div
  %strong Description:
  = @task.description

%div
  %strong Complete:
  = @task.complete

- if @task.due
  %div
    %strong Due:
    = @task.due.strftime('%m/%d/%Y')

= link_to 'Edit', edit_project_task_path(@project, @task)
|
= link_to 'All Tasks', project_tasks_path
