%div
  %strong Description:
  = @task.description
%div
  %strong Complete:
  = @task.complete
- if @task.due
  %div
    %strong Due:
    = @task.due.strftime('%m/%d/%Y')

= link_to 'Edit', edit_task_path(@task)
|
= link_to 'All Tasks', tasks_path
