= form_for(@user, html: {class: "form-horizontal", role: "form"}) do |f|
  .form-group
    .col-sm-offset-2.col-sm-10
      =render 'shared/errors', model: @user

  .form-group
    = f.label :first_name, class: "col-sm-2 control-label"
    .col-sm-3
      = f.text_field :first_name, class: "form-control"

  .form-group
    = f.label :last_name, class: "col-sm-2 control-label"
    .col-sm-3
      = f.text_field :last_name, class: "form-control"

  .form-group
    = f.label :email, class: "col-sm-2 control-label"
    .col-sm-3
      = f.email_field :email, class: "form-control"

  .form-group
    = f.label :password, class: "col-sm-2 control-label"
    .col-sm-3
      = f.password_field :password, class: "form-control"

  .form-group
    = f.label :password_confirmation, class: "col-sm-2 control-label"
    .col-sm-3
      = f.password_field :password_confirmation, class: "form-control"

  .form-group
    = f.label "Pivotal Tracker Token", class: "col-sm-2 control-label"
    .col-sm-3
      = f.password_field :tracker_token, class: "form-control"

  - if current_user.admin?
    .form-group
      .col-sm-offset-2.col-sm-10
        .checkbox
          %label
            = f.check_box :admin
            %span Admin

  .actions.form-group
    .col-sm-offset-2.col-sm-10
      = f.submit class: "btn btn-primary"
      = link_to "Cancel", users_path, class: "btn btn-default"
