= page_header "Users" do
  = link_to 'New User', new_user_path, class: "btn btn-info"

%table.table
  %thead
    %tr
      %th Name
      %th Email
      %th
  %tbody
    - @users.each do |user|
      %tr
        %td=link_to "#{user.first_name} #{user.last_name}", user_path(user)
        - if belongs_to_same_project?(user) || current_user.admin?
          %td= mail_to user.email
        - else
          %td= ''
        %td
          .pull-right
            -if current_user == user || current_user.admin?
              = link_to 'Edit', edit_user_path(user), class: "btn btn-primary"
