= page_header "Users" do
  = link_to 'New User', new_user_path, class: "btn btn-info"

%table.table
  %thead
    %tr
      %th Name
      %th Email
      %th
  %tbody
    - @users.each do |user|
      %tr
        %td=link_to "#{user.first_name} #{user.last_name}", user_path(user)
        %td= mail_to user.email
        %td
          .pull-right
            = link_to 'Edit', edit_user_path(user), class: "btn btn-primary"
