= form_for(@project, html: {class: "form-horizontal", role: "form"}) do |f|
  - if @project.errors.any?
  #error_explanation
    - @project.errors.full_messages.each do |message|
      %p.text-danger= message

  .form-group
    = f.label :name, class: "col-sm-2 control-label"
    .col-sm-3
      = f.text_field :name, class: "form-control"

  .actions.form-group
    .col-sm-offset-2.col-sm-10
      = f.submit class: "btn btn-primary"
