= page_header @project.name do
  -if @current_user_owner
    = link_to 'Edit', edit_project_path(@project), class: "btn btn-primary"

%ol.breadcrumb
  %li=link_to "Projects", projects_path
  %li.active=@project.name

%p=link_to pluralize(@project.tasks.count, "Task"), project_tasks_path(@project)
%p=link_to pluralize(@project.memberships.count, "Member"), project_memberships_path(@project)

-if @current_user_owner
  .well
    %p
      %strong Delete Project
    %p="Deleting this project will also delete #{pluralize(@project.memberships.count, 'membership')}, #{pluralize(@project.tasks.count, 'task')} and associated comments."
    = link_to 'Delete', @project, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"
